
<div id="wrapper">
	<h1>Pot sa donez?</h1>
	<p>Completeaza acest chestionar pentru a afla</p>

	<form id="quiz">
		<!-- Question 1 -->
		<h3>
			Considerati ca aveti o stare buna de sanatate?</h2>
			<!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
			<!-- The value is which answer the choice corresponds to. -->
			<label>
				<input type="radio" name="q1" value="c1">
				Da
			</label><br />
			<label>
				<input type="radio" name="q1" value="c2">
				Nu
			</label><br />

			<!-- Question 2 -->
			<h3>
				In ultima vreme ati avut o pierdere in greutate neasteptata?</h2>

				<label>
					<input type="radio" name="q2" value="c1">
					Da
				</label><br />
				<label>
					<input type="radio" name="q2" value="c2">
					Nu
				</label><br />

				<!-- Question 3 -->
				<h3>
					In ultima vreme ati avut o febra nesteptata?</h2>
					<!-- Choices for the third question -->
					<label>
						<input type="radio" name="q3" value="c1">
						Da
					</label><br />
					<label>
						<input type="radio" name="q3" value="c2">
						Nu
					</label><br />


					<!-- Question 4 -->
					<h3>
						In ultima vreme ati avut tratament stomatologic, vaccinari?</h2>
						<!-- Choices for the fourth question -->
						<label>
							<input type="radio" name="q4" value="c1">
							Da
						</label><br />
						<label>
							<input type="radio" name="q4" value="c2">
							Nu
						</label><br />

						<h3>
							Urmati tratament medicamentos?</h2>
							<!-- Choices for the fourth question -->
							<label>
								<input type="radio" name="q5" value="c1">
								Da
							</label><br />
							<label>
								<input type="radio" name="q5" value="c2">
								Nu
							</label><br />

							<h3>
								In ultimele 12 luni ati avut contact sexual cu HIV pozitiv sau hepatita?</h2>
								<!-- Choices for the fourth question -->
								<label>
									<input type="radio" name="q6" value="c1">
									Da
								</label><br />
								<label>
									<input type="radio" name="q6" value="c2">
									Nu
								</label><br />

								<h3>
									In ultimele 12 luni ati avut contact sexual cu un partener cu hemofilie?</h2>
									<!-- Choices for the fourth question -->
									<label>
										<input type="radio" name="q7" value="c1">
										Da
									</label><br />
									<label>
										<input type="radio" name="q7" value="c2">
										Nu
									</label><br />

									<h3>
										V-ati injectat vreodata droguri?</h2>
										<!-- Choices for the fourth question -->
										<label>
											<input type="radio" name="q8" value="c1">
											Da
										</label><br />
										<label>
											<input type="radio" name="q8" value="c2">
											Nu
										</label><br />

										<h3>
											Ati schimbat partenerul in ultimele 6 luni?</h2>
											<!-- Choices for the fourth question -->
											<label>
												<input type="radio" name="q9" value="c1">
												Da
											</label><br />
											<label>
												<input type="radio" name="q9" value="c2">
												Nu
											</label><br />

											<h3>
												Ati fost in detentie in ultimele 6 luni?</h2>
												<!-- Choices for the fourth question -->
												<label>
													<input type="radio" name="q10" value="c1">
													Da
												</label><br />
												<label>
													<input type="radio" name="q10" value="c2">
													Nu
												</label><br />

												<h3>
													Ati fost refuzat la o donare anterioara?</h2>
													<!-- Choices for the fourth question -->
													<label>
														<input type="radio" name="q11" value="c1">
														Da
													</label><br />
													<label>
														<input type="radio" name="q11" value="c2">
														Nu
													</label><br />



													<button type="button" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>
													<button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
	</form>


	<div id="answer">Your result will show up here!</div>
	<a href="form.html"><button type="button" id="link" class="btn btn-outline-light btn-lg"> Formular </button> </a>


</div>