<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slides-to="0" class="active"></li>
		<li data-target="#slides" data-slides-to="1"></li>


	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="~/Images/background2.jpg">
			<div class="carousel-caption">
				<h1 class="display-2"> Blood donation platform </h1>
				<h3> Implica-te si ajuta! </h3>
				<a href="Chestionar.html"><button type="button" class="btn btn-outline-light btn-lg"> Chestionar </button> </a>
				<a href="chat.html"><button type="button" class="btn btn-primary" btn-lg"> Chat </button></a>

			</div>
		</div>
		<div class="carousel-item">
			<img src="~/Images/background1.jpg">
		</div>

	</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">
				Din cantitatea de sange donata o singura data se pot extrage elementele care pot salva vietile a trei pacienti.
				<ul>
					<li>
						Celulele rosii (hematiile) – se pot pastra 35 zile si se folosesc in special la pacientii din salile de operatii si reanimare.
					</li>
					<li>
						Trombocitele – se pot pastra maxim 5 zile si sunt de mare ajutor bolnavilor de cancer si leucemie.
					</li>
					<li>
						Plasma – poate fi congelata si rezista pana la un an, este folosita in principal in tratamentele accidentatilor si bolnavilor cu arsuri.
					</li>
					<ul>
			</p>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
			<a href="https://en.wikipedia.org/wiki/Blood_donation"><button type="button" class="btn btn-outline-secondary btn-lg"> Info</button></a>
		</div>
	</div>
</div>

<!--- Welcome Section -->
<div class="container-fluid">
	<div class="row welcome">
		<div class="col-lg-12">
			<h1 class="display-4"> Doneaza si salveaza o viata. </h1>
		</div>
		<hr>
		<div class="col-lg-12">
			<p class="lead">
				Aplicatia noastra ofera:
				<ul>
					<li>
						o modalitate rapidă și ușoară pentru orice persoană să verifice dacă este eligibilă pentru donare și să se poate înscrie ca donator;
					</li>
					<li>
						posibilitatea medicilor din spitale să facă publică o cerere pentru sânge și să poată urmări statusul solicitărilor efectuate;
					</li>
					<li>
						o modalitate de comunicare între medicii dintr-un spital, centrul de transfuzie și donatori;
					</li>
					<li>
						o modalitate de vizualizare a analizelor și a rezultatelor după donare;
					</li>
					<li>
						un sistem de notificare a unui utilizator când este eligibil din nou pentru donare (după 3 sau 6 luni de la ultima donare);
					</li>
				</ul>
			</p>

		</div>
	</div>
</div>



<!--- Two Column Section -->
<div class="container-fluid" padding">

	<div class="row padding">
		<div class="col-lg-12">
			<h2> De ce donez sange?</h2>
			<p>
				Unul din zece pacienți care ajung la spitalele din România are nevoie de sânge sau de produse derivate din sânge. Statistic, fiecare om de pe
				planetă are nevoie- pe parcursul vieții- cel puțin o singură dată de sânge. Statistic, România este pe ultimele locuri în ce privește donarea benevolă de sânge, iar multe intervenții chirurgicale din țară sunt amânate. Creșterea cantității de sânge în unitățile spitalicești din România scade numărul de abuzuri și cazuri de corupție bazate pe traficul de sânge.
				14 iunie este ZIUA INTERNAȚIONALĂ A DONATORULUI DE SÂNGE, prin decizie ONU.
			</p>
		</div>
		<div class="col-lg-12">
			<h2> Cum donez? </h2>
			<p>
				Pentru inceput, pentru a ne asigura ca indepliniti conditiile necesare, trebuie sa completati un chestionar. Dupa care, va vom contacta cu informatii suplimentare.
			</p>
			<a href="quiz.html" class="btn btn-primary"> Chestionar </a>

		</div>

	</div>


</div>
<hr class="my-4">
<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">
		</div>
	</div>
</figure>
